**/node_modules/**/*
**/.expo/*
**/npm-debug.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.orig.*
**/web-build/
**/web-report/

frontend/package-lock.json

# macOS
**/.DS_Store

# python
**/*.pyc
backend/venv
backend/dj_prj/db.sqlite3